@model IEnumerable<CrudNativo.Models.Producto>
<h1>Lista de Productos</h1>
<a asp-action="Create" asp-controller="Producto">Nuevo Producto</a>

<table>
	<thead>
		<tr>
			<td>@Html.DisplayNameFor(p =>p.Nombre)</td>
			<td>@Html.DisplayNameFor(p => p.Precio)</td>
			<td>@Html.DisplayNameFor(p => p.Cantidad)</td>
			<td>@Html.DisplayNameFor(p => p.FechaCreacion)</td>
			<td>Acciones</td>
	    </tr>
	</thead>
	<tbody>
		@foreach (var producto in Model)
		{
			<tr>
				<td>@producto.Nombre</td>
				<td>@producto.Precio</td>
				<td>@producto.Cantidad</td>
				<td>@producto.FechaCreacion</td>
				<td>
					<a asp-action="Edit" asp-route-id="@producto.Nombre">Editar</a> |
					<a asp-action="Delete" asp-route-id="@producto.Nombre">Eliminar</a> |
				</td>
			</tr>
		}
	</tbody>
</table>
